@model List<MVC8amMorningBatch.Models.Employee>
@{
    ViewBag.Title = "getpartial";
}

<h2>getpartial</h2>



@{
    int a = 1;
    var s = Html.Partial("_MyPartialView", Model);

    if (a > 0)
    {
        @s;
    }
    else
    {
<span>No Chapati for u</span>
    }

  }
   @{
       Html.RenderPartial("_MyPartialView", Model); 
    }